.App {
    margin: 1rem;
}



.form-row {
    display: flex;
    width: 100%; align-items: center;
    margin: 10px;
}

.label {
    width: 150px;
    text-align: right;
}

.select{
     flex-grow: 1;
     margin: 0 10px;
}

.chart-options, .shortcuts, .charts-container {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 1rem;
}

.charts-container {
    margin-top: 1rem;
}

.charts {
    display: flex;
    justify-content: space-between;
}

.chart-options {
    display: flex;
    flex: 5;
}

.form {
    flex: 1
}

.shortcuts {
    flex: 1;
    margin-left: 1rem;
}

.shortcut {
    text-decoration: underline;
    color: purple;
    margin: 0 1rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.chart-title {
    text-transform: capitalize;
    text-align: center;
}

.tooltip {
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    min-width: 100px;
    padding: 1rem;
}

.tooltip-label {
    color: gray;
}
